@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 1.5rem;
  max-width: 85rem;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}
body {
  position: relative;
}

@layer components {
  .btn {
    display: inline-block;
    background-color: white;
    padding: 0.5rem 0;
    border-radius: 2.5rem;
    color: #0ea2a6;
  }

  .backtotop {
    @apply fixed z-20 top-[58rem] right-[1.9rem] border-[1px] border-black backdrop-blur-sm rounded-[50%] opacity-0 ease-in duration-300 lg:hidden;
  }
  .backtotop.show {
    @apply opacity-100 top-[54rem] ease-in duration-300;
  }
  .backtotop a span {
    @apply text-[2rem] font-[900] flex justify-center items-center h-[3rem] w-[3rem];
  }

  .header {
    box-shadow: 4px 0 7px 3px rgb(0, 0, 0, 0.35);
  }
  .toggle__menu span {
    width: 2rem;
    height: 0.3rem;
    background-color: white;
    display: block;
    border-radius: 0.5rem;
    transition: 300ms;
  }
  .toggle__menu span:nth-child(2) {
    margin: 0.25rem 0;
  }
  .toggle__menu.open span:first-child {
    @apply translate-x-0 translate-y-[12px] rotate-[225deg] ease-out duration-[.5];
  }
  .toggle__menu.open span:nth-child(2) {
    @apply opacity-0;
  }
  .toggle__menu.open span:last-child {
    @apply translate-x-0 translate-y-[-6px] rotate-[-225deg] ease-out duration-[.5];
  }
  .header .navigation ul li a {
    @apply text-white text-[1.5rem] font-[600] py-[1rem] block lg:py-0 lg:font-[400] lg:text-[1.3rem] hover:text-[black] ease-in duration-200;
  }
  .header .navigation ul li {
    @apply bg-[#0EA2A6] text-center my-[1rem] lg:ml-[3rem];
  }
  .header .navigation ul li .active {
    @apply text-black;
  }
  .header .navigation {
    @apply right-[-100%] ease-in duration-[300ms];
  }
  .header .navigation.open {
    @apply right-[0] ease-in duration-[300ms];
  }

  .banner ul li a {
    @apply text-white text-[1.2rem] lg:text-[1.5rem];
  }
  .banner ul li {
    @apply w-[2rem] h-[2rem] mx-[.3rem] bg-[#0EA2A6] rounded-[50%] lg:w-[3rem] lg:h-[3rem] lg:flex lg:justify-center lg:items-center hover:translate-y-[-1rem] ease-in duration-[300ms];
  }
  .banner ul li {
    box-shadow: 0px 4px 4px 0 rgb(0, 0, 0, 0.25);
  }
  .circle2 span:first-child {
    @apply h-[2.5rem] w-[2.5rem] rounded-[50%] border-[rgb(250,250,250,.7)] absolute border-[3px] bottom-[1.5rem] left-[2.5rem];
  }
  .circle2 span:nth-child(2) {
    @apply h-[4.3rem] w-[4.3rem] rounded-[50%] border-[rgb(250,250,250,.7)] absolute border-[3px] bottom-[1rem] left-[6rem];
  }
  .circle2 span:last-child {
    @apply h-[5rem] w-[5rem] rounded-[50%] border-[rgb(250,250,250,.7)] absolute border-[3px] bottom-[5rem] left-[.7rem];
  }

  .skill .skill__card .card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .skill .skill__card .card {
    @apply w-[13rem] h-[13rem] rounded-[5px] flex justify-center items-center ease-in duration-[300ms] lg:w-[15rem] lg:h-[15rem];
  }

  .skill .skill__card .card:hover .card__content {
    opacity: 1;
    z-index: 1;
    transition: 1000ms;
  }

  .skill .skill__card .card:hover {
    background-color: #0ea2a6;
    transition: 1000ms;
  }

  .skill .skill__card .card:hover .skill_img {
    transform: scale(1);
    top: 16px;
    opacity: 0;
    transition: 300ms;
  }

  .skill .skill__card .card__content {
    @apply flex flex-col items-center text-center opacity-0;
  }
  .skill .skill__card .card__content img {
    @apply w-[2rem] lg:w-[3rem];
  }
  .skill .skill__card .card__content h3 {
    @apply font-[700] mb-[14px] mt-[5px] lg:text-[1.3rem] lg:mb-[10px] lg:mt-[9px];
  }
  .skill .skill__card .card__content p {
    @apply text-[1rem] lg:px-[1rem];
  }

  .services .services__card__content {
    @apply w-[20rem] h-[28rem] bg-white rounded-[10px] text-center mx-auto;
  }
  .services .services__card__content:nth-child(2) {
    @apply my-[3rem] lg:my-0;
  }
  .services .services__card__content i {
    @apply text-[3.5rem] text-[#0ea2a6];
  }
  .services .services__card__content h4 {
    @apply text-[2rem] text-[#0ea2a6] font-[700] mt-[1rem];
  }
  .services .services__card__content p {
    @apply px-[1.2rem]  mb-[3rem] mt-[1rem] text-[1.1rem];
  }
  .services .services__card__content a {
    @apply font-[700] text-[1.1rem] hover:text-[#0ea2a6] ease-in duration-[100ms];
  }

  .projects .projects__nav ul li {
    @apply border-y-[3px] border-[rgb(0,0,0,.5)] hover:text-[#0ea2a6] hover:border-[#0ea2a6] ease-in duration-[100ms];
  }
  .projects .projects__nav .active {
    @apply text-[#0ea2a6] border-[#0ea2a6];
  }
  .projects .projects__nav ul li a {
    @apply text-[1.3rem] font-[500] px-[1rem];
  }
  .projects .projects__card {
    @apply bg-[#0ea2a6] max-w-[21.8rem] h-[25.5rem] rounded-[1rem] lg:mx-[1.6rem];
  }
  .projects .projects__card h3 {
    @apply text-[2rem] font-[700] mt-[1rem];
  }
  .projects .projects__card h4 {
    @apply text-[1.5rem] font-[600] ml-2;
  }
  .projects__content {
    @apply flex justify-center;
  }
  .projects__content .project-tab__content {
    @apply absolute opacity-0 max-w-[21.8rem] lg:max-w-[75rem];
  }
  .projects__content .project-tab__content:nth-child(3) {
    @apply lg:max-w-[65rem];
  }
  .projects__content .project-tab__content.active {
    @apply opacity-100 ease-in duration-300;
  }
  .tns-outer button,
  [role="stop"] {
    @apply hidden;
  }

  .contact .contact__left ul li {
    @apply text-[white] flex items-center my-[2rem];
  }
  .contact .contact__left ul li a {
    @apply border-[3px] border-white w-[3rem] h-[3rem] rounded-[50%] text-[1.5rem] text-center flex justify-center items-center;
  }
  .contact .contact__left ul li p {
    @apply ml-[1.5rem] text-[rgb(250,250,250,.8)] text-[1.2rem] font-[600];
  }
  .contact__right input[type="text"],
  input[type="email"],
  textarea {
    @apply w-[100%] bg-transparent border-b-[3px] border-[rgb(250,250,250,.7)] p-[1.5rem] outline-none text-white;
  }
  .contact__right input[type="text"]::placeholder,
  input[type="email"]::placeholder,
  textarea::placeholder {
    @apply text-[rgb(250,250,250,.7)];
  }

  .footer {
    box-shadow: -4px 0 7px 3px rgb(0, 0, 0, 0.35);
  }
  .footer ul li a {
    @apply text-white text-[1.2rem] lg:text-[1.5rem];
  }
  .footer ul li {
    @apply w-[2rem] h-[2rem] mx-[.3rem] bg-[#0EA2A6] rounded-[50%] lg:w-[3rem] lg:h-[3rem] flex justify-center items-center hover:translate-y-[-1rem] ease-in duration-[300ms];
  }
  .footer ul li {
    box-shadow: 0px 4px 4px 0 rgb(0, 0, 0, 0.25);
  }
}

.project-tab__content:nth-child(1) .tns-nav {
  @apply absolute bottom-[-2rem] left-[32%] flex justify-center items-center z-20 lg:hidden;
}
.project-tab__content:nth-child(1) .tns-nav button {
  @apply h-[1rem] w-[1rem] bg-white block mx-[.5rem];
}

.project-tab__content:nth-child(1) .tns-nav button {
  box-shadow: inset 0px 0px 3px 1px rgb(0, 0, 0, 0.5);
}

.project-tab__content:nth-child(1) .tns-nav .tns-nav-active {
  @apply bg-[#0ea2a6] shadow-none;
}

.project-tab__content:nth-child(3) .tns-nav {
  @apply absolute bottom-[-2rem] left-[42%] flex justify-center items-center z-20 lg:hidden;
}
.project-tab__content:nth-child(3) .tns-nav button {
  @apply h-[1rem] w-[1rem] bg-white block mx-[.5rem];
}

.project-tab__content:nth-child(3) .tns-nav button {
  box-shadow: inset 0px 0px 3px 1px rgb(0, 0, 0, 0.5);
}

.project-tab__content:nth-child(2) .tns-nav .tns-nav-active {
  @apply bg-[#0ea2a6] shadow-none;
}
