@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
 
    width: 100%;
    margin: 0 auto;
    padding: 1.5rem;
  }

  @layer components{
    .toggle__menu span{
        width: 2rem;
        height: .2rem;
        background-color: white;
        display: block;
        border-radius: .5rem;
        transition: 300ms;
    }
    .toggle__menu span:nth-child(2){
        margin: .2rem 0;
    }
    .toggle__menu.open span:first-child{
        @apply translate-x-0 translate-y-[10px] rotate-[225deg] ease-out duration-[.5];
    }
    .toggle__menu.open span:nth-child(2){
        @apply opacity-0;
    }
    .toggle__menu.open span:last-child{
        @apply translate-x-0 translate-y-[-3px] rotate-[-225deg] ease-out duration-[.5];
    }

    .header__nav ul{
        @apply absolute bg-dark right-0 top-0 w-0 h-[100vh] overflow-hidden p-0 z-[1] lg:static lg:w-full lg:h-auto;
    }
    .header__nav ul li:not(:first-child),.header__nav ul li:not(:last-child){
        @apply mx-[1rem]
    }
    .header__nav ul.open{
        @apply  w-[25rem] h-[100vh] p-[2rem];
    }
    .arjay.open{
        @apply w-full
    }
    .btn{
        @apply inline-block py-[.5rem] px-[1.5rem]
    }
    .premium__card{
        @apply flex items-center my-[5rem] lg:flex-col lg:my-[unset]
    }

    .premium__card img{
        @apply w-[6rem] mr-[1.2rem] lg:w-[8rem] lg:mb-[2rem]
    }
    .card__text{
        @apply lg:text-center
    }
    .card__text h3{
        @apply font-bold text-[1.2rem]
    }
    .card__text p{
        @apply  text-[1rem] mt-[1rem]
    }
    .pick__header ul li{
        @apply px-[.2rem]
    }
    .pick__header ul li img{
        @apply w-[2rem]
    }
    .topcard span{
        @apply bg-[#0D72EA] rounded-[5px] text-[.8rem] font-bold text-[#ffffff] py-[.2rem] px-[.5rem]
    }
    .topcard h3{
        @apply text-[1.5rem] font-bold
    }
    .topcard p{
        @apply text-[1rem] w-[14rem]
    }
    .check{
        @apply lg:h-[20rem]
    }
    .check p{
        @apply text-[1rem] leading-[2rem] 
    }
    .check p i{
        @apply mr-[1rem]
    }



    .drop__item{
        @apply py-[1rem]
    }
    .drop__item ul li{
        @apply py-[.5rem]
    }
    .drop__item h4{
        @apply text-[#ffffff] opacity-60
    }
    .drop__item h4 i{
        @apply lg:hidden
    }
    .drop__item h4 i.open{
        @apply rotate-[-180deg] ease-in duration-[300ms]
    }
    .drop__item ul li a{
        @apply text-[#ffffff] hover:text-[#1ED760]
    }
    .drop__item ul{
        @apply max-h-0 overflow-hidden ml-[2rem] ease-in duration-[300ms] lg:max-h-[25rem] lg:ml-[unset]
    }
    .drop__item ul.open{
        @apply max-h-[25rem] ease-in duration-[300ms]
    }
    .drop__item ul li{
        @apply p-[1rem]  lg:px-[unset]
    }
    .soc__icon ul a{
        @apply flex justify-center items-center w-[3rem] h-[3rem] mr-[1rem] rounded-full bg-[#222326] cursor-pointer my-[3rem] lg:my-[unset]
    }

    .soc__icon ul i{
        @apply text-white hover:text-green text-[1.5rem]
    }
    .legal ul li{
        @apply mr-[2rem]
    }
    .legal ul li a{
        @apply text-[#8F8F8F] text-[10px] leading-[2rem] hover:text-green lg:text-[12px]
    }



    .toggle__menu2 span{
        width: 1.5rem;
        height: .2rem;
        background-color: white;
        display: block;
        border-radius: 2px;
        transition: 300ms;    
    }
    .toggle__menu2 span:nth-child(2){
        margin: .3rem 0;
    }
    .toggle__menu2.open span:first-child{
        @apply translate-x-0 translate-y-[10px] rotate-[-45deg] ease-out duration-[.5];
    }
    .toggle__menu2.open span:nth-child(2){
        @apply opacity-0;
    }
    .toggle__menu2.open span:last-child{
        @apply translate-x-0 translate-y-[-6px] rotate-[45deg] ease-out duration-[.5];
    }
    .navigation ul{
        @apply bg-[#222326] w-[100%] left-0 top-[5rem] h-0 overflow-hidden
    }
    .navigation ul.open{
        @apply h-[30rem]
    }
    .navigation ul li{
        @apply h-[5rem] flex items-center border-[1px] border-[#8F8F8F]
    }
    .navigation ul li a{
        @apply text-[#ffffff] hover:text-green mx-[2rem]
    }
    .active{
        @apply border-b-2 border-green
    }
    .navigation2 ul li a{
        @apply text-[#ffffff] hover:text-green text-[14px]
    }
    .navigation2 ul li{
        @apply ml-[4.5rem]
    }



    .circle{
        @apply w-[7.5rem] text-center hover:opacity-[.9]
    }
    .circle a{
        @apply text-[1rem] font-semibold 
    }
    .platform__content .backg{
        @apply w-[7.5rem] h-[7.5rem] mb-[1.2rem] rounded-full flex justify-center items-center
    }
    .platform__content .backg img{
        @apply w-[4rem]
    }
    
  }
